.width-block-sidebar {
    width: 220px
}

#sidebarCollapse {
    border-radius: 50%;
    margin: 26px 7px 11px;
    padding: 0 7px
}

.btn-svg {
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    color: #3c4043;
    height: 2.5rem
}

.btn-svg:hover {
    background-color: var(--sidebar-surface-secondary)
}

#sidebar .side-nav-button-container {
    margin: 48px 14px 0
}

#sidebar .button-new-content {
    background-color: var(--bard-color-new-conversation-button);
    border: none;
    border-radius: 20px;
    height: 40px;
    max-width: fit-content;
    max-width: -moz-fit-content;
    padding: 0 16px 0 9px
}

#sidebar .button-new-content:hover {
    background-color: #d4dae1
}

#sidebar.active .button-new-content {
    padding: revert
}

#sidebar .menu-components li {
    margin: 0 12px
}

#sidebar.active .menu-components {
    padding-bottom: 35px
}

#sidebar .menu-components li:first-child svg {
    margin-left: -2px
}

#sidebar .menu-components li:first-child span {
    margin-left: 16px
}

#sidebar .menu-components li:nth-child(2) span {
    margin-left: 20px
}

#sidebar .menu-components li:nth-child(3) span {
    margin-left: 19px
}

#sidebar .menu-components li:nth-child(4) span,#sidebar .menu-components li:nth-child(5) span {
    margin-left: 17px
}

#sidebar.active .button-new-content span,#sidebar.active .footer,#sidebar.active .menu-components li span,#sidebar.active .wrap-history-messages .history-message-item {
    display: none
}

#sidebar .footer {
    font-size: 14px
}

#sidebar .wrap-history-messages {
    margin: 1.2rem 1px 1.2rem 4px;
    overflow: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin
}

#homeSubmenu,#homeSubmenu1 {
    background-color: #6749b9;
    border-radius: 5px
}

.history-message-item .history-message-item__header h3 {
    color: #8e8e84;
    font-size: 12px;
    font-weight: 600
}

#sidebar .wrap-history-messages li {
    border-radius: 9999px;
    margin: 0 8px;
    padding: 0 12px
}

#sidebar .wrap-history-messages li.active {
    background-color: var(--color--primary-container);
    color: var(--bard-color-on-selected-conversation)
}

#sidebar .wrap-history-messages li:hover:not(.active) {
    background-color: var(--color--surface-container-high)
}

#sidebar .history-message-list-item.active .history-message__title {
    animation: fadeInAnimation 1s steps(29) 0s 1 normal both
}

.history-message-link-item {
    align-items: center;
    display: flex!important;
    height: 36px;
    justify-content: space-between
}

.history-message-link-item>div {
    align-items: center;
    display: flex
}

.history-message-link-item .history-message-name {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    padding-left: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px
}

.btn-delete-history-message,.btn-edit-history-message {
    background-color: transparent;
    border: none;
    padding: 0 2px
}

.btn-delete-history-message {
    padding-right: 0
}

#sidebar .wrap-action-menu-for-chat .dropdown-toggle {
    background: transparent;
    border: none;
    border-radius: 50%;
    margin-right: -12px
}

#sidebar .wrap-action-menu-for-chat:hover .dropdown-toggle {
    background-color: #f0f8ff
}

#sidebar .wrap-action-menu-for-chat .dropdown-menu li {
    padding: 0
}

#sidebar .footer {
    order: 4
}

#sidebar .footer__copyright {
    color: var(--text-color)
}

@media (min-width: 64em) {
    #sidebar .wrap-history-messages:hover {
        scrollbar-color:#dbe1ec transparent
    }

    #sidebar .history-message-list-item .history-message__action {
        display: none
    }

    #sidebar .history-message-list-item:hover .history-message__action {
        display: block!important
    }
}

@media (max-width: 46.1875em) {
    #sidebarCollapse {
        margin:0;
        padding: 0
    }

    #sidebar.active #sidebarCollapse {
        margin-left: 14px
    }

    #sidebar.active .button-new-content {
        padding: 0 16px 0 9px
    }

    #sidebar.active .menu-components {
        padding-bottom: 0
    }

    #sidebar.active .button-new-content span,#sidebar.active .footer,#sidebar.active .menu-components li span,#sidebar.active .wrap-history-messages .history-message-item {
        display: initial
    }
}
